
.triplist{
    text-align: center;
    opacity: 90%;
}

.row{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: rgb(211, 247, 229);
    padding: 10px;
    width: 80%;
}

.row p{
    color: black;
    display: inline-block;
    vertical-align: top;
    opacity: 80%;
    background: rgb(255, 255, 255);
    width: 20%;
    padding: 5px;
    text-align: center;
    margin-left: 5px;
    border-style:double;
}
