body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url('file:///Users/shivammishra/Desktop/IUB/Spring2023/Applied-Distributed-Systems/Project/travel-buddy/travel-app/src/components/static/images/back-ground1.jpg');
  object-fit: contain; */
  background-repeat:no-repeat;
  background-size: cover;
  font-family:sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page{
  height: 500;
  margin-left: 20px;
  margin-top: 50px;
  margin-right: 20px;
}


